<div class="container-fluid color-dark">
  <div class="row row-fixed triggered">
    <div class="col-md-4 about-box">
      <h3>About Us</h3>
      <div class="container-fluid text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi facilis animi voluptatibus dignissimos ducimus voluptates
        nostrum aspernatur hic totam! Repellat aut expedita est repudiandae rerum delectus quo dolor libero animi!
      </div>
    </div>
    <div class="col-md-4 about-box  bulet-footer">
      <h3>Recent Component</h3>
      <div class="container-fluid text-left">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Nisi facilis animi voluptatibus dignissimos ducimus voluptates</p>
        <p>Nostrum aspernatur hic totam! Repellat aut expedita est repudiandae rerum</p>
        <p>Quo dolor libero animi!</p>
      </div>
    </div>
    <div class="col-md-4 about-box">
      <h3>Custom Text Widget</h3>
      <div class="container-fluid text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi facilis animi voluptatibus dignissimos ducimus voluptates
        nostrum aspernatur hic totam! Repellat aut expedita est repudiandae rerum delectus quo dolor libero animi!
      </div>
    </div>
  </div>
  <div id="footer-bottom" class="container-fluid">
    <div class="row row-fixed triggered">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#/">Home</a></li>
        <li><a href="#/posts">Blog</a></li>
        <li role="presentation"><a href="#/features">Features</a></li>
        <li role="presentation"><a href="#/about">About</a></li>
        <li><a href="#/login" class="log-in-btn">Log In<span></span></a></li>
        <li><a href="#/register" class="register-btn">Register</a></li>
        <li><a class="user-name"></a></li>
        <li><a href="#/logout" class="log-out-btn" style="display:none">Log Out</a></li>
      </ul>
      <p id="copyright">Designed by <a href="" title="Themes">Themes</a> | Powered by <a href="">Dimitar</a></p>
    </div>
  </div>
</div>