<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row row-fixed triggered">
      <button class="btn btn-default btn-menu" role="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-controls="bs-example-navbar-collapse-1" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class="collapse navbar-collapse center-block" id="bs-example-navbar-collapse-1">
        <img src="../../assets/images/envisioned-logo.png" alt="Envisioned Theme" class="logo">
        <ul class="nav navbar-nav nav-full">
          <li class="active"><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#/posts">Blog</a></li>
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Features</a>

            <ul class="dropdown-menu">
              <li><a href="#/home">Home</a></li>
              <li><a href="#/posts">Blog</a></li>
              <li><a href="#/contact">Contact</a></li>
            </ul>
          </li>
          <li class="p-navbar"><a href="#/portfolio">Portfolio</a></li>
          <li><a href="#/contact">Contact</a></li>
          <li><a href="#/login" class="log-in-btn">Log In<span></span></a></li>
          <li><a href="#/register" class="register-btn">Register</a></li>
          <li><a class="user-name"></a></li>
          <li><a href="#/logout" class="log-out-btn" style="display:none">Log Out</a></li>
          <div id="icons-nav">
            <li class="pull-right"><a><img src="../../assets/images/facebook (1).png"></a>
              <!-- <i class="fa fa-facebook-square"></i> --></a>
            </li>
            <li class="pull-right"><a><img href="" src="../../assets/images/rss (1).png">
                    <!-- <i class="fa fa-github-square"></i> -->
                  </a>
            </li>
            <li class="pull-right"><a><img href="" src="../../assets/images/twitter.png">
                    <!-- <i class="fa fa-rss-square"></i> --></a>
            </li>
            <div>
        </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="item-nav" style="margin-bottom: 20px;margin-top: 40px;margin-left:15%; display:none;font-size: 26px; color: #fff;">
    </div>
    <div class="carousel-inner" role="listbox">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="main-item-active">
          <img class="around-img resize-img" src="https://upload.wikimedia.org/wikipedia/en/0/0a/Arch_Enemy_-_Rise_of_the_Tyrant.jpg"
            style="margin-right: 3em;opacity: 0.5;">
          <img class="around-img resize-img" src="https://upload.wikimedia.org/wikipedia/en/c/c8/Khaos_legions_cover.jpg" style="margin-right: -12em;">
          <div class="carousel-cell">
            <div class="carousel-caption-mine " style="z-index:11">
              <span>Alissa in Wonderland</span>
            </div>
            <div class="p-icon-container">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner" style="padding-right: 10px;">
                <div class="item shadow-active " style="height:366px;">
                  <img class="slide-image" src="https://upload.wikimedia.org/wikipedia/en/0/0a/Arch_Enemy_-_Rise_of_the_Tyrant.jpg" alt=""
                    style="width: 486px; height: 340px; display:block;margin:auto;z-index:0;margin: 0 6px 0; ">
                </div>
                <div class="item shadow-active " style="height:366px;">
                  <img class="slide-image" src="https://upload.wikimedia.org/wikipedia/en/c/c8/Khaos_legions_cover.jpg" alt="" style="width: 486px; height: 340px; display:block;margin:auto;z-index:0;margin: 0 6px 0; ">
                </div>
                <div class="item shadow-active active " style="height:366px;">
                  <img class="slide-image" src="http://metalhangar18.com/wp/ups/2017/06/archenemywilltopowercd.jpg" alt="" style="width: 486px; height: 340px; display:block;margin:auto;z-index:0;margin: 0 6px 0; ">
                </div>
                <div class="item shadow-active " style="height:366px;">
                  <img class="slide-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fe/Arch_Enemy_-_War_Eternal_artwork.jpg/220px-Arch_Enemy_-_War_Eternal_artwork.jpg"
                    alt="" style="width: 486px; height: 340px; display:block;margin:auto;z-index:0;margin: 0 6px 0; ">
                </div>
                <div class="item shadow-active " style="height:366px;">
                  <img class="slide-image" src="https://is4-ssl.mzstatic.com/image/thumb/Music69/v4/b4/90/86/b4908600-5d30-f891-a9db-fc09c14b9e70/source/1200x630bb.jpg"
                    alt="" style="width: 486px; height: 340px; display:block;margin:auto;z-index:0;margin: 0 6px 0; ">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="width:auto">
                          <span class="glyphicon glyphicon-chevron-left" style="margin-left: 10px"></span>
                      </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style="width:auto">
                          <span class="glyphicon glyphicon-chevron-right" style="margin-right:20px"></span>
                      </a>
            </div>
          </div>
          <img class="around-img resize-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fe/Arch_Enemy_-_War_Eternal_artwork.jpg/220px-Arch_Enemy_-_War_Eternal_artwork.jpg"
            style=" margin-left: -12em;">
          <img class="around-img resize-img" src="https://is4-ssl.mzstatic.com/image/thumb/Music69/v4/b4/90/86/b4908600-5d30-f891-a9db-fc09c14b9e70/source/1200x630bb.jpg"
            style="margin-left: 3em; opacity: 0.5;">
        </div>
      </div>
</nav>