
body {
  margin: 0;
  padding: 0;
  line-height: 1; 
     background: url('../images/BG.png'); 
   line-height: 18px; font-family: "Open Sans","sans-serif" !important; font-size: 12px; color: #838383; 
}

.navbar-default{
  background: url('../images/BG.png'); 
}
.navbar-nav, #content, .container-fluid{
  font-family: "Open Sans";
}

/* #home-logo{
  position: absolute;
  top: 7.8px;
  left: 16%;
} */
.color-mid,
#content {
  background-color: #eaeaea;
  background: url('../images/content-box.png');
}
/* .fac{background: url('./images/facebook (1).png')} */
.rss{background: url('../images/rss (1).png')}
.tweet{background: url('../images/twitter.png')}
.container-fluid h1{
  font-family: 'Open Sans Condensed';
  color:black;
}

.container-fluid #icons-nav{
  padding-right: 30px;
  padding-top: 18px;
}
.container-fluid .logo{
  position: absolute;
  /* top: 22%; */
  top:55px;
  left: 16%;
}
.container-fluid.color-light {
  background: linear-gradient(#FFFFFF,#FEFEFE,#FDFDFD,#FCFCFC,#FBFBFB,#FAFAFA,#F9F9F9,#F8F8F8,#F7F7F7
);
  /* background-color: #fff; */
  /* background: url('../images/quote-inner-bg.png') repeat-x; */
}
.color-dark {
  background: url('../images/BG.png'); 
  /* background-color: #000;
  background: #323b43;
  background: -moz-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #323b43), color-stop(69%, #11161c), color-stop(100%, #11161c));
  background: -webkit-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
  background: -o-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
  background: -ms-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
  background: radial-gradient(ellipse at center, #323b43 0%, #11161c 69%, #11161c 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#323b43', endColorstr='#11161c', GradientType=1 )";
  color: #f4f4f4; */
}
.line-with-shadow {
 /*  border: 0;
  height: 1px;
  position: relative;
  background-color: #fff;
  width: 59em; */
/*   margin-left: -3em; */
 /*  margin-bottom: -3em; */
   margin-top: 1em; 
  width:90%;
}
/* .line-with-shadow:before {
  top: -6px;
  height: 1em;
  left: 0;
}
.line-with-shadow:after {
  content: '';
  height: 0.5em;
  top: -7px;
  left: 0;
}
.line-with-shadow:before,
.line-with-shadow:after {
  content: '';
  position: absolute;
  width: 100%;
}
.line-with-shadow,
.line-with-shadow:before {
   background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%); 
}
.line-with-shadow:after {
  background: #eaeaea;
} */
.carousel {
  display: none;
}
.p-icon-container {
  display: inline-block;
  background-color: rgba(255,255,255,0.3);
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: opacity 300ms;
}
.p-icon-container:hover {
  opacity: 1;
}
.p-icon {
  line-height: 2em;
  position: relative;
  top: 30%;
  display: inline-block;
 /*  border-radius: 50%;
  background: #fefefe; */
 /*  background: -moz-linear-gradient(top, #fefefe 0%, #d7d7d7 92%, #f7f7f7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(86%, #d7d7d7), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #fefefe 0%, #d7d7d7 92%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #d7d7d7 92%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #d7d7d7 92%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fefefe 0%, sslide0lide-ima#d7d7d7 92%, #f7f7f7 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0 )"; */
  /* border: 1px solid #fff; */
  height: 2.15em;
 /*  width: 2.15em; */
  /* -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75); */
  /* box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75); */
}
.href-img{
  width: 100%;
  height: 100%; 
  background-size: 100% 100%;
}
.around-img{
  margin-bottom: 40em; 
 /*   width: 19%; *//* 265px; */
 /*  height: 60%; *//* 200px; */
  margin-bottom: 40em;
  width: 20%;
  height: 52%;
}

.bulet-footer p{
  background:url('../images/footer-bullet.png') no-repeat 0 8px; padding:0px 0 10px 18px; 
}
#footer-bottom{
 /*  clear: both; padding-bottom: 16px; padding-top: 26px; */
  background: url('../images/footer-bottom-bg.png') repeat-x; 
 /*  background-color: transparent; */
}
p#copyright { float:right; font-size:11px; color:#8b949d; text-shadow: 1px 1px 1px rgba(0,0,0,0.6); margin-top:-2.2em}
p#copyright a { color:#ffffff; }
.text-left{
  line-height: 21px;
}

@media only screen and (min-width: 320px) {
  .mobile .logo{
    top:17px;
    margin-left:6em;
  }
  .mobile #content {
    padding: 0;
  }
  .mobile #content .about-box h3{
    color: #1f262d;
  }
  .mobile .posts .current-post .comments h3 {
    /* margin-top: 1.2em;
    text-align: left; */
    color: #090909;
    font-family: 'Open Sans Condensed';
  }
  .posts .current-post .comments .col-md-2.reply-comment {
    margin-left:6em;
  }
  .mobile #header {
    height: inherit;
  }
  .mobile #header nav {
    background: url('../images/BG.png');
    /* height: inherit;
    background-color: #000;
    background-image: none;
    background: #323b43;
    background: -moz-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #323b43), color-stop(69%, #11161c), color-stop(100%, #11161c));
    background: -webkit-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: -o-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: -ms-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: radial-gradient(ellipse at center, #323b43 0%, #11161c 69%, #11161c 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#323b43', endColorstr='#11161c', GradientType=1 )";
    border-radius: 0;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.45);*/
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.45); 
  }
  .mobile #header .navbar {
    margin-bottom: 0;
  }
  .mobile #header .nav {
   /*  background-color: #323b44;
    background: #3e4852; */
    /* background: -moz-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3e4852), color-stop(69%, #323b44), color-stop(100%, #323b44));
    background: -webkit-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: -o-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: -ms-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: linear-gradient(to bottom, #3e4852 0%, #323b44 69%, #323b44 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4852', endColorstr='#323b44', GradientType=0 )"; */
  }
  .mobile #header .nav .active>a {
    background-color: rgba(0,0,0,0) !important;
    color:#8d96a0 !important;
    font-style: italic;
    box-shadow: none !important;
    background-image: none !important;
  }
  .mobile #header i.fa {
    color: #1e242c;
  }
  .mobile #header .nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mobile #header .nav li {
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
  }
  .mobile #header .nav li.pull-right {
    width: 33%;
  }
  .mobile #header .nav a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8); 
  }
  .mobile #header .btn-menu {
    display: inline-block;
    background: none;
    background-color: #000;
    border: none;
    height: 3em;
    width: 3em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
   .mobile #header .btn-menu p {
    color: #fff;
  } 
  .mobile .about-us {
    margin-bottom: 5em;
  }
  .mobile .about-us >.row {
    margin-top: 3em;
    padding: 0 1.5em 0 1.5em;
  }
  .mobile .about-us .about-box {
    padding: 0.3em 1em 1em 1em;
  }
  .mobile .about-us .about-box div {
    font-size: 1.2em;
  }
  .mobile .about-us .read-more {
    float: right;
    height: 2em;
    width: 7.5em;
    /* background-color: #fff;
    color: #000;
    border-radius: 1em;
    font-size: 1.2em;
    border: 1px solid black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
    border-radius: 1em !important;
    background-color: #293038;
    background-image: none !important;
    width: 7.5em !important;
    color: #fff !important;
    padding: 0.2em !important;
    height: 2.4em !important;
    border: 1px solid black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .mobile .fasca {
    border-bottom: 1px solid #fff;
    /* background: #fefefe; */
  /*   background: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(82%, #f4f4f4), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4', GradientType=0 )"; */
  }
  .mobile .fasca .row {
    padding: 0 1.5em 0 1.5em;
  }
  .mobile .fasca .container-fluid {
    text-align: center;
  }
  .mobile .additional-info {
    width: 9.5em;
    border-radius: 10px !important;
    background-color: #303841 !important;
    background-image: none !important;
    color: #fff !important;
    padding: 0.6em !important;
    margin: 1em 0 1em 0;
  }
  .mobile .portfolio-container {
    text-align: center;
  }
  .mobile .portfolio-container .row {
    padding-left: 20%;
    padding-top: 20px;
  }
  .mobile .portfolio-container .row .cell {
    display: inline-block;
    height: 40vw;
    width: 60vw;
    background-color: #000;
    float: left;
    margin-bottom: 20px;
    background-color: #2f666b;
    box-sizing: border-box;
    border: 0.5em solid #fff;
    -webkit-box-shadow: inset 2px 2px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 2px 11px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px 2px 11px 0px rgba(0,0,0,0.75);
  }
  .mobile .portfolio-container .row .cell .p-icon-container {
    opacity: 1;
    background: none;
  }
  .mobile .portfolio-container .row .cell .p-icon-container .p-icon {
    height: 4em;
    width: 4em;
  }
  .mobile .portfolio-container .row .cell .p-icon-container .p-icon i {
    margin-top: 0.5em;
    font-size: 2em;
  }
  .mobile .posts .current-post .comments .comment .baloon>h4{
    color: #090909;
    font-family: 'Open Sans Condensed';
    font-size:2em;    
   }
  .mobile #footer .about-box {
    padding: 0.5em 1em 0 1em;
  }
  .mobile #footer .about-box h3 {
    text-align: center;
  }
  .mobile #footer .nav {
    background-color: #11161c;
    margin-top: 2em;
  }
  .mobile #footer .nav li a {
    padding-left: 0.5em !important;
    color: #fff !important;
  }
  .mobile #footer .nav .active a {
    background-color: rgba(0,0,0,0) !important;
    color:#8d96a0 !important;
    background-image: none;
    font-style: italic;
  }
  .mobile .posts .trail {
    margin: 2em;
    font-size: 1.2em;
    /* margin-left:8em; */
  }
 /*  .mobile .posts .trail.trail-portf{
    margin-left:8em;
  } */
  .mobile .posts .trail a {
    color: #838383;/* #000; */
  }
  .mobile .posts .post-title {
    margin: 0;
    font-size: 4em;
    font-family: 'Open Sans Condensed';
  }
  .mobile .posts .post-title a {
    color: #000;
  }
 /*  .mobile .posts hr {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    padding: 0 !important;
    margin-right: 0;
    height: 1px;
    width: 100%;
    /* background-color: #a6a6a6; */
  } */
  .mobile .posts .posted-by {
    font-size: 1.2em;
    margin-bottom: 1em;
    font-family: 'Open Sans Condensed'; font-size: 1.5em;
  }
  .mobile .posts .posted-by>span{
    color: #090909;
  }
  .mobile .posts .post-img {
    padding: 0;
    float: left;
    max-width: 50%;
    border: 1px solid #808080;
  }
  .mobile .posts .post-img img {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #fff;
  }
  .mobile .posts .body {
   /*  float: right; */
    font-size: 1.3em;
  /*   width: 50%; */
  }
  .mobile .posts .read-more {
    margin-bottom: 2em;
    margin-right: 1.5em;
    border-radius: 1em;
    background-color:#293038; /* #000; */
    background-image: none;
    width: 10em;
    height: 3em;
    font-size: 1.2em;
    color: #fff !important;
    border: 1px solid black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .mobile .posts .read-more a {
    color: #fff;
  }
  .mobile .posts .read-more a:hover {
    text-decoration: none;
  }
  .mobile .posts .recent {
    margin-bottom: 2em;
  }
  .mobile .posts .recent h4 {
    text-align: center;
    font-size: 1.2em;
    color: #090909;
    font-family: 'Open Sans Condensed';
    font-size:2em;    
  }
  .mobile .posts .recent .field {
    border-radius: 0.8em;
    border: 1px solid #d3d3d3;
  }
  .mobile .posts .recent .field ul {
    /* list-style-type: none; */
    margin: 1.8em 0em;
   /*  padding-left: 30px; */
    text-align: left !important;
  /*   color: #5e5e5e; */
  }
  .mobile .posts .recent .field ul li {
    width: 100%;
    text-align: left !important;
  }
  .mobile .posts .recent .field ul li a {
    font-size: 1.1em;
   /*  color: #000; */
    color: #5e5e5e;
  }
  .mobile .posts .recent .field ul li+li {
    margin-top: 1em;
  }
  .mobile .posts .current-post .comments .col-md-2.reply-comment{
   margin-left:0em;
   width: 30%;
   display: inline-block;
  } 
  .mobile .posts .current-post .comments .baloon.reply-comment{
    
    width: 70%;
    float:right;
   } 
  .mobile .posts .current-post .comments .comment img {
    width:100%;
    height:100%;
} 
.mobile .posts .current-post .comments .comment .reply{
  width:5em;
  height:2.3em;
}
/*
// Extra Small Devices, Phones
@media only screen and (min-width : 480px) 

*/
@media only screen and (min-width: 768px) {
  .triggered {
    width: 960px !important;/* 950px */
    display: inline-block;
    /* color: #343434;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); font-family: 'Open Sans Condensed' */
  }
  .container-fluid {
    text-align: center !important;
    padding: 0 !important;
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  nav {
    margin: 0 !important;
  }
  .posts .trail {
    padding-left: 0.4em;
    font-size: 0.9em;
    margin-top: 2em;
    width: 50%;
    
     margin-bottom: 2em; 
  }
  .posts .trail.trail-portf{
  padding-left:18.4em
}
  .posts .trail a {
    color:#838383; /* #000; */
  }
  .posts .trail a:hover {
    text-decoration: none;
  }
  .posts .post {
    padding: 0;
    margin-bottom: 2em;
  }
  .posts .post .post-title {
    margin-bottom: 0 !important;
    font-family: 'Open Sans Condensed'
  }
  .posts .post .post-title a {
    color: #000;
  }
/*   .posts .post .text-left {
  
    font-family: 'Open Sans Condensed';
    color:#000;
  } */
/*   .posts .post hr {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    padding: 0 !important;
    margin-right: 0;
    height: 1px;
    width: 100%;
  } */
  .posts .post .posted-by {
    margin-top: 0.2em;
    font-size: 1.1em;
    font-family: 'Open Sans Condensed'; font-size: 1.5em;
  }
  .posts .post .posted-by>span{
    color: #090909;
  }
  .posts .post .post-img {
    border: 1px solid #808080;
    padding: 0;
    margin-top: 1.1em;
    box-sizing: border-box;
    -webkit-box-shadow: inset 5px 5px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 15px -3px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 15px -3px rgba(0,0,0,0.75);
  }
  .posts .post .post-img img {
    min-height: 16em;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #fff;
    position: relative;
  }
  .posts .post .body {
    padding-left: 3em;
    padding-top: 1.1em;
    font-size: 0.9em;
  }
  .posts .post .read-more {
    margin-top: 1.6em;
    margin-right: 1.5em;
    border-radius: 1em !important;
    background-color:#293038; /* #000 !important; */
    background-image: none !important;
    width: 7.5em !important;
    color: #fff !important;
    padding: 0.2em !important;
    height: 2.4em !important;
    border: 1px solid black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
   /*  font-size: 0.85em !important; */
  }
  
    .posts .current-post .comments .comment .reply{
      width:5em !important;
      height:2.3em !important;
    }
  
  .posts .post .read-more a {
    color: #fff;
  }
  .posts .post .read-more a:hover {
    text-decoration: none;
  }
  .posts .current-post >.row:first-child {
    height: 0;
  }
  .posts .current-post .post-title {
    transform: translateY(-135px);
  }
  .posts .current-post .post-title a {
    color: #fff;
    text-decoration: none;
  }
/*   .posts .current-post .text-left hr {
    margin-top: -2.4em !important;
  } */
  .posts .current-post .posted-by {
   /*  margin-top: 2em; */
  }
  .posts .current-post .comments {
    margin-top: 4em;
  }
  .posts .current-post .comments h3 {
    margin-top: 1.2em;
    text-align: left;
    color: #090909;
    font-family: 'Open Sans Condensed';
  }
/*   .posts .current-post .comments .comment .reply{
    width:5em;
    height:2.3em;
  } */
 /*  .posts .current-post .comments .comment hr {
    margin-top: 0;
  } */
  .posts .current-post .comments .comment img {
    height: 65%;
    width: 65%;
    border: 5px solid #fff;
    margin-top: 1.8em;
    margin-left: -2.2em;
  }
  .posts .current-post .comments .comment h4 {
    font-size: 1.4em;
    text-align: left;
    margin-top: -0.2em;
  }
  .posts .current-post .comments .comment .baloon {
    margin: 2em 0 0 -1.5em;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 2em 0 1em 2em;
   /*  background: #fefefe; */
   background: linear-gradient(#FFFFFF,#FEFEFE,#FDFDFD,#FCFCFC,#FBFBFB,#FAFAFA,#F9F9F9,#F8F8F8,#F7F7F7
   );
   /*  background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 82%, #f7f7f7 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(82%, #f7f7f7), color-stop(100%, #f7f7f7));
    background: -webkit-linear-gradient(top, #fefefe 0%, #f7f7f7 82%, #f7f7f7 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #f7f7f7 82%, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #f7f7f7 82%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f7f7f7 82%, #f7f7f7 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0 )"; */
  }
  .posts .current-post .comments .comment .baloon>h4{
    color: #090909;
    font-family: 'Open Sans Condensed';
    font-size:2em;
   }
  .posts .current-post .comments .comment .baloon >div {
    text-align: left !important;
  }
  .posts .current-post .comments .comment .baloon:after {
    content: "";
    position: absolute;
    top: 18px;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
  }
  .posts .current-post .comments .comment .baloon:before {
    content: "";
    position: absolute;
    top: 17px;
    left: -11px;
    border-style: solid;
    border-width: 11px 11px 11px 0;
    border-color: transparent #c5c5c5;
    display: block;
    width: 0;
    z-index: 0;
  }
  .posts .recent {
    padding-left: 4em;
  }
  .posts .recent .posts h4 {
    margin-top: 1.3em;
    margin-left: 0.5em;
    color: #090909;
    font-family: 'Open Sans Condensed';
    font-size: 2em;
  }
  .posts .recent .posts .field {
    border-radius: 0.8em;
    border: 1px solid #d3d3d3;
    width: 272px;
  }
  .posts .recent .posts .field ul {
    /* list-style-type: none; */
    margin: 1.8em 0em;
   /*  padding-left: 30px; */
    text-align: left !important;
    width: 240px;
  }
  .posts .recent .posts .field ul li {
    width: 100%;
    text-align: left !important;
  }
  .posts .recent .posts .field ul li a {
   /*  font-size: 0.9em; */
   color: #5e5e5e;
  }  .posts .recent .posts .field ul li+li {
    margin-top: 1em;
  }
  .posts .recent .comments h4 {
    margin-top: 1.3em;
    margin-left: 0.5em;
    color: #090909;
    font-family: 'Open Sans Condensed';
    font-size: 2em;
  }
  .posts .recent .comments .field {
    border-radius: 0.8em;
    border: 1px solid #d3d3d3;
    width: 272px;
  }
  .posts .recent .comments .field ul {
    /* list-style-type: none; */
    margin: 1.8em 0em;
   /*  padding-left: 30px; */
    text-align: left !important;
    width: 240px;
  }
  .posts .recent .comments .field ul li {
    width: 100%;
    text-align: left !important;
  }
  .posts .recent .comments .field ul li a {
    /* font-size: 0.9em; */
 /*    color: #000; */
    color: #5e5e5e;
  }
  .posts .recent .comments .field ul li+li {
    margin-top: 1em;
  }
 /*  .login {
    margin-top: 3em;
  } */
  #header {
    font-family: Arial !important;
  }
  #header nav {
   /*  height: 290px; */
    /* background-color: #000;
    background-image: none;
    background: #323b43; */
   /*  background: -moz-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #323b43), color-stop(69%, #11161c), color-stop(100%, #11161c));
    background: -webkit-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: -o-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: -ms-radial-gradient(center, ellipse cover, #323b43 0%, #11161c 69%, #11161c 100%);
    background: radial-gradient(ellipse at center, #323b43 0%, #11161c 69%, #11161c 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#323b43', endColorstr='#11161c', GradientType=1 )"; */
    border-radius: 0;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.45);
  }
  #header .nav {
    margin-top: 130px !important;
    border: none;
    border-radius: 10px;
    background-color: #323b44;
    background: #3e4852;
    /* background: -moz-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3e4852), color-stop(69%, #323b44), color-stop(100%, #323b44));
    background: -webkit-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: -o-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: -ms-linear-gradient(top, #3e4852 0%, #323b44 69%, #323b44 100%);
    background: linear-gradient(to bottom, #3e4852 0%, #323b44 69%, #323b44 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4852', endColorstr='#323b44', GradientType=0 )"; */
    border-top: 1px solid #4f5861;
  }
  #header .nav a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8); 
  }
  #header .nav .active>a {
    background-color: rgba(0,0,0,0) !important;
    color:#8d96a0 !important;
    font-style: italic;
    box-shadow: none !important;
    background-image: none !important;
  }
  #header i.fa {
    color: #1e242c;
  }
  #header .btn-menu {
    display: none;
  }
  #header .navbar-collapse {
    padding: 0 !important;
  }
  #header .nav-full {
    width: 100% !important;
  }
  #header .dropdown-toggle:hover ~ .dropdown-menu,
  #header .dropdown-menu:hover {
    display: block;
  }
  #header .dropdown-menu {
    background-color: #323b44;
    border-radius: 0 0 10px 10px;
    border-left: 1px solid #475059;
    border-top: none;
    margin-top: -1px;
  }
  #header .dropdown-menu li {
    height: 3em;
    width: 100%;
  }
  #header .dropdown-menu li a {
    height: inherit;
    width: inherit;
    line-height: 2.5em;
  }
  /* .row-fixed:before{
    padding:0;
  } */
  #footer {
    height: 370px;
  }
  #footer .about-box {
    padding: 0.3em 4.2em 0 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  #footer >div {
    height: inherit;
  }
  #footer >div >div:first-child {
    height: 310px;
    padding-top: 2.7em;
  }
  #footer >div >div {
    text-align: left;
  }
  #footer >div >div >div {
    text-align: left !important;
  }
  #footer >div >div >div >div {
    text-align: left !important;
    font-size: 1em;
    line-height: 1.7em !important;
    padding-top: 0.2em !important;
    color: #8b949d;
  }
  #footer >div >div >div h3 {
    font-size: 2em;
    color:#ffffff;
   /*  text-shadow: 1px 1px 1px; */
   text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-family: 'Open Sans Condensed';
    /* font-size: 24px;  */
  }
  #footer >div .nav {
   /*  background-color: #11161c; */
    font-size: 0.9em;
  }
  #footer >div .nav li a {
    padding-left: 0.5em !important;
    color: #fff !important;
  }
  #footer >div .nav .active a {
    background-color: rgba(0,0,0,0) !important;
    color:#8d96a0 !important;
    background-image: none;
    font-style: italic;
  }
  .about-us {
    margin-bottom: 5em;
  }
  .about-us >.row {
    margin-top: 3em;
  }
/*   .row-fixed.col-md-4{
    
    width: 238px;
    position: relative;
    margin-right: 52px;
  }  */
 /*  div.col-md-4.about-box{
    width: 238px;
    position: relative;
    margin-right: 52px;
  } */
  /* .about-box>h3.text-left {
    color: #1f262d;
    font-family: 'Open Sans Condensed';
  } */
  .about-us .about-box {
    padding: 0.3em 0 0 4.2em;
    /*  width: 238px;
    position: relative;
    margin-right: 52px; */ 
  }
 /*  .about-us :nth-child(3){
    margin-right: 0px;
  } */
  .about-us .about-box>h3{
    color: #1f262d;
    font-family: 'Open Sans Condensed';
  }
  .about-us .about-box>img{
  position: absolute; top: 10%;left: 0%;
}
  .about-us .read-more {
    float: right;
    height: 2em;
    width: 7.5em;
    /* background-color:  #fff ;
    color: #000;
    border-radius: 1em;
    border: 1px solid black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
    border-radius: 1em !important;
    background-color: #293038;
    background-image: none !important;
    width: 7.5em !important;
    color: #fff !important;
    padding: 0.2em !important;
    height: 2.4em !important;
    border: 1px solid black;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
   /*  font-size: 0.8em; */
  }
  .fasca {
    height: 11.5em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    border-bottom: 1px solid #fff;
    background: #fefefe;
  /*   background: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(82%, #f4f4f4), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f4f4f4 82%, #f4f4f4 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4', GradientType=0 )"; */
  }
 /*  .fasca.row.row-fixed {
    color: #343434;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); font-family: 'Open Sans Condensed'
    /* margin-top: 1.4em;
    font-size: 1.9em; */
  } */
 /*   .row-fixed.col-md-4{
  
    width: 238px;
    position: relative;
    margin-right: 52px;
  }  */
 /*  div.col-md-4.about-box{
    width: 238px;
    position: relative;
    margin-right: 52px;
  } */
 /*  .about-box>h3.text-left {
    color: #1f262d;
    font-family: 'Open Sans Condensed';
  } */
  

  .portfolio-container {
    /* margin-top: 1em; */
    background-color: #eaeaea;
    margin-bottom: 7em;/* towa ot men */
  }
  .portfolio-container .row {
    text-align: left;
    /* padding: 6.7em 0 3em 1em; *//* poslednoto beshe 7 */
    height: 30em;
    padding-left: 0;
    margin-top: 6em;
  }
  .portfolio-container .row .cell {
    float: left;
    display: inline-block;
    margin: 2.5em 4.2em 2.8em 0;/* tuka vtorote beshe 3 dolnite dve gi uvelichih s 1 */
    width: 12.6em;/* uvelicheno s 1.8 a dolnoto 2,staha 13.6 i 10.5*/
    height: 8.6em;
    background-color: #2f666b;
    box-sizing: border-box;
    border: 0.5em solid #fff;
    -webkit-box-shadow: inset 2px 2px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 2px 11px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px 2px 11px 0px rgba(0,0,0,0.75);
  }
  .portfolio-container .row .cell:nth-child(5n) {
     margin-right: 0; 
  }
  .portfolio-container .row .cell:nth-child(5n-4) {
   /*  margin-left: 0.1em; */
  }
  .portfolio .row{
    height: auto;
     padding:0;
     margin-top: 0;
     /* padding-left: 1em; */
     /*  padding: 0px 5em; */
    /*  margin-left: 1em; */
  }
  .portfolio .text-left{
    padding-left:0em;
  }
  .portfolio .row .cell:nth-child(5n){
    /* margin-right: 4.2em; */
    margin-right: 0;
  }
/*   .portfolio .row .cell:nth-child(6n){
    margin-right: 0;
  }
  .portfolio .row .cell:nth-child(5n-4){
    margin-right: 0;
  } */
/*   .portfolio{
    margin-left: 1em;
  } */
  .fasca .additional-info {
   /*  width: 9.5em; */
   border:1px solid black;
    font-size: 1.9em;
    border-radius: 10px !important;
    background-color: #2c343c !important;
    background-image: none !important;
    color: #fff !important;
    /* padding: 0.6em !important; */
    transform: translateY(1.5em);
    margin-top:-0.9em; font-family: 'Open Sans Condensed';
    text-shadow:1px 1px 1px rgba(0,0,0,0.4);
  }
  .carousel {
    top: 0;
  }
  .carousel-inner {
    top: 0;
  }
  .carousel-inner .item {
   /*  height: 335px; */
    height: 28.5em;
    width: 103%;
   /*  top: 0; */
  }
  
  .carousel-inner .item.active {
    top: 0;
    position: relative;
   /*  height: auto; */
    width: 100%;
    text-align: center;
    display: inline-block;
   /*  background:url('../images/active-slide-bg.png') no-repeat; */
  }
  .main-item-active{
   /*  background-color: white; */
    top: 0;
    position: relative;
   /*  height: auto; */
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 335px;
    
     top: 0;
  }
  .main-item-active{
    /*  background-color: white; */
     top: 0;
     position: relative;
    /*  height: auto; */
     width: 100%;
     text-align: center;
     display: inline-block;
     height: 335px;
     
      top: 0;
   }
  /*  .shadow-active{
     height:inherit;
   } */
   /* .shadow-active.active{ */
    .carousel-inner .carousel-cell {
    /*  height: 366px;  */
    background:url('../images/active-slide-bg.png') no-repeat;
   /*  text-align: center; */
   
  } 
  .carousel-inner .carousel-cell {
    /* margin: 1em 0 1em 0; */
    display: inline-block;
   /*  height: 335px;
    width: 487px; */
  /*   background: #25575e; */
   /*  -webkit-box-shadow: 0px 4px 19px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 19px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 19px 5px rgba(0,0,0,0.75); */
    /* z-index: 2; background: url('./images/active-slide-bg.png') no-repeat; */
  }
  .carousel-inner .carousel-cell .p-icon-container {
    background: none;
    opacity: 1;
    /* top: -55px; */
    bottom: 48px;
    height: 25em;
     /* line-height: 130px;  */
  }
  .carousel-inner .carousel-cell .p-icon-container .p-icon {
    height: 4.5em;
    width: 4.5em;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .carousel-inner .carousel-cell .p-icon-container .p-icon i {
    color: #fff !important;
    font-size: 2.5em;
  }
  .carousel-inner .carousel-cell .p-icon-container .icon-right {
    position: relative;
    left: 120px;
  }
  .carousel-inner .carousel-cell .p-icon-container .icon-left {
    position: relative;
    right: 120px;
  }
  .carousel-inner .carousel-caption-mine {
    font-family: 'Open Sans Condensed';
    width: 500px;
    height: 55px;
    position: relative;
    top: 285px;
    color: #fff;
    box-sizing: border-box;
    line-height: 50px;
    text-align: left;
    padding-left: 1em;
     /*  margin-left: 0.5em; */
     /* margin-bottom: -2.1em;  */ 
     left:0.5em;
  }
  .carousel-inner .carousel-caption-mine span {
    color: #ffff;
    font-size: 1.8em;
    z-index: 10000;
  }
  .carousel-inner .carousel-caption-mine:before {
     content: "";
    width: 400px;
    height: 55px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border: 1px solid #537b80;
    box-sizing: border-box;
    -webkit-mask-image: linear-gradient(to right, #000, transparent);
    mask-image: linear-gradient(to right, #000, transparent); 
  }
  
  .slide-image{
    /* width: 42em;
    padding-bottom: 0.7em; */
    /* padding-top: 0.4em; */
    /* width: 486px;
     height: 340px;
      display:block;
      margin:auto;
      z-index:0;
      margin: 0 6px 0; */
      width: 41.7em;
      padding-bottom: 0.7em;
      /* padding-top: 0.4em; */
      padding-left: 0.5em;
  }
  .item-nav{
    margin-bottom: 20px;margin-top: 65px;margin-left:15%; display:none;font-size: 30px; color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  header.home {
    border:none;
    /* height: 650px; */
  }
  header.home nav {
    border:none;
     /* height: 650px !important;  */
     /*  height: auto;  */
  }
.navbar .navbar-default{
 /*  height: auto; */
}
  header.home .carousel {
    margin-top: 60px;
    display: block;
}
.form-area h3{
  color: #1f262d;
  font-family: 'Open Sans Condensed';
}
.form-group .form-control{
  background: linear-gradient(#FFFFFF,#FEFEFE,#FDFDFD,#FCFCFC,#FBFBFB,#FAFAFA,#F9F9F9,#F8F8F8,#F7F7F7
  );
} 
.form-group .form-control.inside{
  border:none; /* height: 7em; */
  resize: none;
 /*  background: linear-gradient(#FEFEFE,#FDFDFD,#FCFCFC,#FBFBFB,#FAFAFA,#F9F9F9,#F8F8F8
  ); */
  background: none;
  -webkit-box-shadow: none; 
} 
#submit{
  border-radius: 1em;
  background-color:#293038; /* #000; */
  background-image: none;
  width: 10em;
  height: 3em;
  font-size: 1.2em;
  color: #fff !important;
  border: 1px solid black;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
/* text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-family: 'Open Sans Condensed'; color: #090909; a gore */
    #pagination{
      float: right;
      width: 64%;
  padding-bottom: 6em;
  padding-left: 5em;
  
    }
    #pagination p{
      float:left;
      margin-right:2em;
      margin-bottom: 0px !important;
      padding-top: 1em;
    }
#pagination a{
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #fff;
  margin: 5px;
  border-radius: 10px;
}
#pagination a.active {
  background-color: #2B323B;
  color: #fff;
}
/*
// Medium Devices, Desktops 
@media only screen and (min-width : 992px) 



// Large Devices, Wide Screens 
@media only screen and (min-width : 1200px) 
*/
